<div>
   
        <div class="mb-3">
            <%= form.label :text, class: "form-label" %>
            <%= form.text_field :text, class: "form-control", id: "exampleFormControlInput1", placeholder: "Post Comment" %>
        </div>
        <%= form.submit "Post Comments", class:"btn btn-primary" %>
    <% end %>
</div>
