<h1>This is the User post page</h1>

<%= render'users/user', user: @user %>

<hr />

<% @posts.each_with_index do |post, index| %>
<%= link_to post.title, user_post_path(@user, post) %>
<p>Post #<%= index+1 %></p>
<section>
  <ul><%= render 'posts/post', post: post %></ul>

</section>
<% end %>
