<section class="py-2  container">
    <div class=" w-75 mx-auto" style="">
        <h5 class="fw-dark">Create Post</h5>
        <%= form_with model: Post, url: user_posts_path, method: :post,  local: true, scope: :post do |form| %>
        <%= form.text_field :title , class: 'form-control mb-2' %>
        <%= form.text_area :text , class: 'form-control mb-2' %>
        <%= form.submit 'Save post' ,class: "btn btn-primary" %>
      <% end %>
    </div>
  </section>